body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: white;
}
p{
    letter-spacing: 0.5px;
}
nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10%;
    position:relative;
}

.nav-links{
    display:flex;
    gap:25px;
}

.nav-links a{
    text-decoration:none;
    color:white;
}

/* Hamburger */
.hamburger{
    display:none;
    flex-direction:column;
    gap:5px;
    cursor:pointer;
}

.hamburger span{
    width:28px;
    height:3px;
    background:white;
    border-radius:5px;
}

.btn-outline {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #000;
    text-decoration: none;
    border-radius: 5px;
}

@media(max-width:768px){

    .hamburger{
        display:flex;
    }

    .nav-links{
        position:absolute;
        top:70px;
        left:0;
        width:100%;
       background: #1e293b;
        flex-direction:column;
        align-items:center;
        padding:20px 0;
        display:none;
        color: white;
    }

    .nav-links.active{
        display:flex;
    }
}
.hero {
    text-align: center;
    padding: 100px 20px;
}

.hero span {
    color: #38bdf8;
}

.btn {
    background: #38bdf8;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

section {
    padding: 50px 10%;
}

.card {
    background: #1e293b;
    padding: 20px;
    margin: 15px 0;
    border-radius: 10px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 20px;
}

/* Animation */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: 0.6s;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}

input, textarea {
    width: 97%;
    margin: 10px 0;
    padding: 10px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 100px 10%;
    flex-wrap: wrap;
}

.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid #38bdf8;
    object-fit: cover;
    box-shadow: 0 0 30px #38bdf8;
    transition: 0.4s;
}

.profile-img:hover {
    transform: scale(1.08);
}

.hero-right {
    max-width: 500px;
}

.hero-right h1 {
    font-size: 40px;
}

.hero-right span {
    color: #38bdf8;
}

.subtitle {
    color: #94a3b8;
    margin: 10px 0;
}

.desc {
    margin: 15px 0;
    line-height: 1.6;
    color: #cbd5f5;
}


.buttons {
    margin-top: 15px;
}

.btn {
    background: linear-gradient(45deg, #38bdf8, #0ea5e9);
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-outline {
    background: transparent;
    border: 2px solid #38bdf8;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    opacity: 0.8;
}


.socials {
    margin-top: 15px;
}

.socials a {
    margin-right: 15px;
    text-decoration: none;
    color: #38bdf8;
    font-weight: bold;
}

.socials a:hover {
    text-decoration: underline;
}


body {
    background: radial-gradient(circle at top, #1e293b, #020617);
}

#gitbtn, #sendbtn, #demobtn{

    border-radius: 50px;
    padding: 10px 30px;
    font-weight: bold;
    cursor: pointer;
}

#gitbtn:hover{
   opacity: 0.8;
}
#demobtn:hover{
   opacity: 0.8;
}
.toast-popup {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #22c55e;
    color: white;
    padding: 14px 22px;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.4s ease;
    z-index: 9999;
}


.toast-popup.show {
    opacity: 1;
    transform: translateY(0);
}
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    z-index: 9999;
}

.popup-overlay.show {
    opacity: 1;
    visibility: visible;
}

.popup-box {
    background: white;
    padding: 30px 40px;
    border-radius: 12px;
    text-align: center;
    transform: scale(0.7);
    transition: 0.3s ease;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.popup-overlay.show .popup-box {
    transform: scale(1);
}

.popup-box h2 {
    margin: 0;
    color: #22c55e;
}

.popup-box p {
    margin-top: 10px;
    color: #333;
}